*{
    margin: 0px;
    padding: 0px;
    border-style: none;
}

table {
    border: #b2b2b2 1px solid;
  }
  .dia1 {
    border: black 1px solid;
    font-size: 20px;
    color: red;
  }
  .Hora1 {
    border: black 1px solid;
    color: red;
  }
  .dia2 {
    border: black 1px solid;
    font-size: 20px;
    color: aquamarine;
  }
  .Hora2 {
    border: black 1px solid;
    color: aquamarine;
  }

  th {
    border: black 1px solid;
    font-size: 30px;
  }

  header{
    width: 100%;
    background-color: rgb(70, 68, 68);
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
  }

  .inicio{
    margin-top: 20px;
  }

  .horarios{
    margin-top: 20px;
  }

  .servicios{
    margin-top: 20px;
  }

  .contacto{
    margin-top: 20px;
  }

  footer{
    width: 100%;
    margin-top: 345px;
    background-color: rgb(70, 68, 68);
    padding: 20px 0px 20px 0px;
  }

  .formulario-contacto{
    border: black 1px solid;
    margin-top: 40px;
    width: 50%;
  }